:root{
    --red-color :brown;
    --seacend-color :#ffc107;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    direction: rtl;
    font-family: 'Lateef', cursive;
}

::selection{
    background-color: var(--red-color);
    color: #fff;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

li:hover{
    border-bottom: 1px solid var(--seacend-color); 
}

::placeholder{
    text-align: center;
    font-size: 18px;
}

/* Start scroll btn */

.button-scroll {
    position: fixed;
    right: 10px;
    z-index: 1000;
    top: 80%;
    display: none;
}

.button-scroll.active{
    display: block;
}



.button-scroll button:hover{
    background: var(--red-color);
    color: #fff;
    transition: .4s;
}

.button-scroll button {
    background: yellow;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

i.fas.fa-angle-double-up {
    font-size: 25px;
}

/* End scroll btn */

/* start contact */

.contact-app {
    position: fixed;
    left: 0;
    top: 70%;
    z-index: 90000;
    background: #ffeb3bd1;
}


.contact-app .contactbox {
    width: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1rem;
}

.contact-app .contactbox a{
    color: #004d40;
    font-size: 25px;
    
}

/* End contact */

/* start Nav bar */

nav.container {
    position: relative;
    background-color: #000000;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85px;
}

.box-container .logo {
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:#936e00 ;
    
}

.box-container .logo h2 {
    color: #fff;
    margin: 0.7rem;
    font-family: 'Reem Kufi', sans-serif;
}

nav.container .box-container .ul-box ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.container .box-container .ul-box ul li {
    padding: 2rem;
    height: 85px;
}

@media (max-width:700px){
    nav.container .box-container .ul-box ul li{
        padding: 41px 53px 5px -53px;
        width: 4px;
    }
}
@media (max-width:500px){
    nav.container .box-container .ul-box ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
    z-index: 100;
    background-color: #777;
}

nav.container .box-container .ul-box ul li{
    width: 197px;
    background: #323232;
    text-align: center;
    margin: 2px;
    font-size: 25px;
    border-left: .3rem solid #ddd;
}

}

nav.container .box-container .ul-box ul li a{
    color: #fff;
}
nav.container .box-container .ul-box ul li:hover a{
    color:#ffeb3b;
    }



.sign {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    justify-content: center;
    height: 80px;
}

@media (max-width:500px){
    .sign{
        display: none;
    }
}

.sign  h2 a{
    color: #fff;
}

.sign  h2 a:hover{
    color:#ffc107;
    
}

#bar-one {
    color: #fff;
    font-size: 35px;
    position: absolute;
    top: 25px;
    left: 10px;
    cursor: pointer;
    display: none;
}


@media (max-width:500px){
    #bar-one{
        display: block;
    }
}

nav.container .box-container .ul-box ul.active{
    display: block;
}


/* end Nav bar */

/* start header */
.container-head{
    background-image: linear-gradient(169deg,rgb(4 9 30 / 88%),rgb(30 32 8 / 89%)),
                        url(../quran-images/WhatsApp\ Image\ 2022-01-01\ at\ 6.48.04\ PM.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 540px;
}

.container-head .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   height:500px;
}

.container-head .content h1{
    margin: 20px;
    color: var(--seacend-color);
    font-size: 75px;
    font-family: 'Reem Kufi', sans-serif;
}

.container-head .content p{
        color: #ddd;
    font-size: 15px;
    margin: 2rem;
}

.container-head .content form {
    margin: 32px;
    height: 25px;
    width: 300px;
}


input[type="search"] {
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 3.5px;
}


input[type="submit"] {
    width: 18%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--red-color);
    border-radius: 4px;
    color: #fff;
}

input[type="submit"]:hover{
    background-color: var(--seacend-color);
    color: var(--red-color);
    transition: .4s;
}

.container-head .content .botn{
    background-color: var(--red-color);
    border: none;
    outline: none;
    height: 25px;
    width: 120px;
    border-radius: 7px;
    position: absolute;
    bottom: 10%;
    box-shadow: 0px 3px 7px 0px black;
    cursor: pointer;
}
.container-head .content .botn:hover{
    background-color: var(--seacend-color);
    transition: .4s;
    box-shadow: 0px 0px 6px 4px var(--seacend-color);
}

.container-head .content .botn a{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #fff;
}
.container-head .content .botn:hover a{
color: var(--red-color);
}

/* end header */

/* start landing */ 

section#start {
background-color: #ddd;      
 margin-top: 1rem;
}

h1.heading {
    font-size: 40px;
    color: var(--red-color);
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.container-land {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.box-land {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 250px;
    padding: 13px;
    margin: 10px;
    border-radius: 1rem;
    box-shadow: -3px 3px 5px 0px;
    background-color: #314a5d;
}

.box-land h2 {
    position: absolute;
    top: 0;
    font-size: 28px;
    padding: 2rem;
    color: var(--seacend-color);
}

button.btn-box {
    background-color: brown;
    color: #fff;
    position: absolute;
    bottom: 10%;
    width: 85px;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px black;
    cursor: pointer;
}


button.btn-box:hover{
    background-color: var(--seacend-color);
    color: var(--red-color);
    box-shadow: 0px 2px 10px 5px #ffc107;
    transition: .4s;
}


#details{
    position: absolute;
    top: 100%;
    left: 6%;
    background-color: #80cbc4;
    width: 90%;
    border-radius: 7px;
    text-align: center;
    box-shadow: -3px 3px 7px 0px;
    display: none;
}

#details.active{
    position: absolute;
    top: 100%;
    left: 6%;
    background-color: #80cbc4;
    width: 90%;
    border-radius: 7px;
    text-align: center;
    box-shadow: -3px 3px 7px 0px;
    z-index: 1000;
    display: block;
}
#details .box  p {
    padding: 1rem;
    font-size: 17px;
    font-weight: bold;
}

#details .box i{
    font-size: 18px;
    cursor: pointer;
    color: #ddd;
}
#details .box a{
    color: #333;
    font-size: 22px;
    font-weight: bold;
}


.All-btns{
    width: 35px;
    height: 35px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#details h1 {
    margin: 0;
    padding: 1rem;
    color: var(--red-color);
}

#details .box {
    background: #b3e5fc;
    height: 60px;
    margin: 0.3rem;
    border-radius: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: -1px -1px 5px 0px;
    align-items: center;
}


button#firis-audio p{
    font-size: 20px;
    color: #fff;
}

/* End landing */

/* start Azkar */

.Azkar-box {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1rem;
    background: bisque;
    flex-direction: column;
    height: 140px;
}

.Azkar-box h2{
        position: absolute;
    right: 20px;
    top: 4px;
    color: brown;
    font-size: 30px;
    margin: 10px;
}

.Azkar-box p{
        position: absolute;
    bottom: 10px;
    font-size: 19px;
    margin: 10px;
}

@media (max-width:700px){
    .Azkar-box p{
    font-size: 14px;
    bottom: 0;
    padding: 0.2rem;
    }
    .Azkar-box h2{
    font-size: 25px;
    top: -4px;
    right: 21%;
    }
}


/* End Azkar */

/* video */
video{
    width: 100%;
    height: 300px;
    margin-top: 1rem;
    padding: 13px;
    background: #ddd;
}

/* video */

/* start box-big-content */

.box-big-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-big-content .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.big-container h1{
    color: var(--seacend-color);
    background-color: var(--red-color);
    text-align: center;
    margin-top: 6px;
}

.big-container ul{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.big-container ul li{
    background-color: var(--red-color);
    border: none;
    display: flex;
    border-radius: .4rem;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: .3rem;
    padding: 0;
    box-shadow: 0px 2px 3px 0px;
}    

.big-container ul li a{
    color: #fff;
}

.big-container ul li:hover{
    background-color: var(--seacend-color);
    transition: .3s;
}
.big-container ul li:hover a{
    color: var(--red-color);
    transition: .3s;
}

.box-content {
    position: relative;
    width: 290px;
    height: 215px;
    margin: 2.3rem;
}

.box-content h3 {
    position: absolute;
    width: 35%;
    color: #fff;
    background: #3f51b5;
    text-align: center;
    border-radius: 0.2rem;
}

.box-content img {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
}

.box-content p{
    background: brown;
    color: #fff;
    height: 25px;
    font-size: 17px;
    text-align: center;
    border-radius: 0.3rem;
}
/*  end big-content */

/* start contact us */

section#contact {
    margin-top: 1rem;
    background: #9999993d;
}

.contact .row{
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.contact .row .image{
  flex:1 1 30rem;
}

.contact .row .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
}

.contact .row form{
  flex:1 1 50rem;
  padding:1rem;
}

.contact .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row form .inputBox input, .contact .row form textarea{
  padding:1rem;
  margin:1rem 0;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  width:49%;
}

.contact .row form textarea{
  width:100%;
  resize: none;
  height:15rem;
}

.contact .row form .btn{
  background-color: brown;
  border: .3rem solid #cdb8b8;
  color: #ffe64a;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 1.5rem;
  z-index: 0;
  width: 13rem;
  height: 4rem;
  position: relative;
}

.contact .row form .btn::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  background-color: #fe7100;
  height: 100%;
  transition: .3s linear;
  z-index: -1;
}

.contact .row form .btn:hover ::before{
  width:100%;
  left: 0;
}

.contact .row form .btn:hover{
  color: #fff;
  background-color:#fe7100 ;
}

/* end about us */

.about-us{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-top: 1rem;
    background: #f7f7f7;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 25px;
    bottom: 7px;
    margin: 1rem;
}

.about-us .head h2{
    color: brown;
    font-size: 50px;
    margin: 1.2rem;
}
.about-us .head p{
    font-size: 15px;
}
 .about-us img{
    position: absolute;
    right: 57%;
    width: 90px;
    margin: 2rem;
 }


/* End about us */

/* start footer */

footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
}

footer .content h1{
    margin: .5rem;
    color: #ffc107;
    font-size: 30px;
}

footer .content p{
    color: #fff;
}

/* End footer */